@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="app">
   <chat-app />
</div>

<script type="module">
import {mount} from "./mjs/app.mjs"

const App = {
    setup() {
        return {
        }
    },
}

mount('#app', App)
</script>